logicapp4blob.json
{
    "$connections": {
        "value": {
            "azureblob": {
                "connectionId": "/subscriptions/f172da26-3dc8-4983-8ea274adf1fe/resourceGroups/jackservicebustest/providers/Microsoft.Web/connections/azureblob",
                "connectionName": "azureblob",
                "id": "/subscriptions/f172da26-3dc8-4983-88fd/providers/Microsoft.Web/locations/eastus2/managedApis/azureblob"
            },
            "servicebus": {
                "connectionId": "/subscriptions/f172da26-3dc8-4983-88fd/resourceGroups/jackservicebustest/providers/Microsoft.Web/connections/servicebus",
                "connectionName": "servicebus",
                "id": "/subscriptions/f172da26-3dc8-4983-88fd/providers/Microsoft.Web/locations/eastus2/managedApis/servicebus"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Create_blob": {
                        "inputs": {
                            "body": "@base64ToBinary(items('For_each')?['ContentData'])",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/datasets/default/files",
                            "queries": {
                                "folderPath": "/messages",
                                "name": "@{substring(utcnow(),0,10)}/mytest_@{utcnow()}.txt",
                                "queryParametersSingleEncoded": true
                            }
                        },
                        "runAfter": {},
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Get_messages_from_a_queue_(peek-lock)')",
                "runAfter": {
                    "Get_messages_from_a_queue_(peek-lock)": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_messages_from_a_queue_(peek-lock)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('jacktestqueue'))}/messages/batch/peek",
                    "queries": {
                        "maxMessageCount": 20,
                        "queueType": "Main"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_message_is_received_in_a_queue_(auto-complete)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('jacktestqueue'))}/messages/head",
                    "queries": {
                        "queueType": "Main"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "type": "ApiConnection"
            }
        }
    }
}
